@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0e0b1b;
  --foreground: #ffffff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Geist", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 90%;
}
